* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(0deg, rgba(143,224,246, 0.14),rgba(23, 252, 221, 0.603)); 
  display: flex;
  flex-direction: column;
}

.section-header {
  height: 450px; /* Ajusta la altura del header */
  display: flex; /* Usar flexbox para centrar el contenido */
  flex-direction: column; /* Apilar el contenido */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
}


.section-cards {
  margin: 10px 0; /* Reduce el margen entre secciones */
}



.circular-card {
  border-radius: 50%; /* Hace que la tarjeta sea circular */
  overflow: hidden; /* Asegura que el contenido no sobresalga */  
  border-color: rgb(68, 236, 180);
  position: relative;
}

.card {
  transition: transform 0.2s; /* Agrega una transición para un efecto visual */
}

.card:hover {
  transform: scale(1.05); /* Efecto de hover */
}

.d-block {
  display: block; /* Muestra como bloque */
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Ajusta según necesites */
  background-color: rgba(255, 255, 255, 0.699); /* Fondo semitransparente */
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay h6{
  margin: 0;
  color: black; /* Color del texto */
}

.section-carousel {
  margin: 20px 0; /* Reduce el margen entre secciones */
}

